include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include dox_frappe *.css
recursive-include dox_frappe *.csv
recursive-include dox_frappe *.html
recursive-include dox_frappe *.ico
recursive-include dox_frappe *.js
recursive-include dox_frappe *.json
recursive-include dox_frappe *.md
recursive-include dox_frappe *.png
recursive-include dox_frappe *.py
recursive-include dox_frappe *.svg
recursive-include dox_frappe *.txt
recursive-exclude dox_frappe *.pyc